<!DOCTYPE html>
<html>
<head>
  <title>Icecream</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="icecreamApp">
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Icecream App", root_path, class: "navbar-brand"%>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <% if logged_in? %>
            <li><%= link_to "My Stats", user_path(current_user.id) %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <p>Created by <%= link_to "Sarah B Kim", "http://www.sarahbkim.com" %></p>
    </div>
  </footer>

</body>
</html>
